header {
  font-size: 30;
  font-weight: bold;
}

@media only screen and (max-width: 851px) {

}

#image {
  overflow: auto;
  width: 105%;
  height: 110%;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
}

p, li {
  color: white
}
header {
  color: darkblue;
}

a {
color: white;
}
